version: 2
jobs:
    build:
        working_directory: ~/code
        docker:
            - image: circleci/android:api-26-alpha
        environment:
            JVM_OPTS: -Xmx2048m
            GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
            ADB_INSTALL_TIMEOUT: 6000
            
        steps:
            - checkout
            
            - restore_cache:
                key: android-cache
            
            # The API keys are not tracked in git, write them from environment variables
            - run: echo $google_services_json4 > app/google-services.json
            - run: echo $ids_xml_4 > app/src/main/res/values/ids.xml
            
            # Since it is only building the debug apk, the key values don't matter
            - run: (echo "storePassword=a" && echo "keyPassword=b" && echo "keyAlias=PTSD" && echo "storeFile=/PTSD/PTSDkey.jks") > app/keystore.properties
                    
            - run:
                name: Compile Android
                command: ./gradlew assembleDebug
                
            - save_cache:
                key: android-cache
                paths:
                    - ~/.android
                
            - persist_to_workspace:
                root: .
                paths:
                    - .
        
    gradle-test:
        working_directory: ~/code
        docker:
            - image: circleci/android:api-26-alpha
        environment:
            JVM_OPTS: -Xmx2048m
            GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
            ADB_INSTALL_TIMEOUT: 6000
            
        steps:
            - attach_workspace:
                # Must be absolute path or relative path from working_directory
                at: .
                
            - restore_cache:
                key: android-cache
        
            - run:
                name: Test Android
                command: ./gradlew test

    firebase-test:
        working_directory: ~/code
        docker:
            - image: google/cloud-sdk
        environment:
            JVM_OPTS: -Xmx2048m
            GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
            ADB_INSTALL_TIMEOUT: 6000
        
        steps:
            - attach_workspace:
                # Must be absolute path or relative path from working_directory
                at: .
            
            - run: echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
            
            - run: gcloud --quiet components update
            - run: gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
            - run: gcloud config set project $GCLOUD_PROJECT
            
            - run: gcloud firebase test android run --app /app/build/outputs/apk/app-debug.apk --device model=Nexus6,version=21,locale=en,orientation=portrait
            
            - run: gsutil -m cp -r -U `gsutil ls gs://cloud-test-circle-ctl-test | tail -1` $CIRCLE_ARTIFACTS/ | true

                

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - gradle-test:
          requires:
            - build
      - firebase-test:
          requires:
            - gradle-test

